<div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-wizard">
        <li routerLinkActive='active'><a routerLink="Itineary" data-toggle="tab">Iteniary Detail</a></li>
        <li routerLinkActive='active'><a routerLink="Docs" data-toggle="tab">Documents</a></li>
        <li routerLinkActive='active'><a routerLink="Pics" data-toggle="tab">Pictures</a></li>
        <li routerLinkActive='active'><a routerLink="WebLinks" data-toggle="tab">Web Links</a></li>
        <li routerLinkActive='active'><a routerLink="Desc" data-toggle="tab">Description</a></li>
      </ul>
      <router-outlet></router-outlet>
    </div>
</div>
